<div class="cnt">
    <header class="header">
            <nav class="navbar">
            <a href="#" class="logo">Portfolio</a>
            <a href="#home" style="--i:1" class="active">Home</a>
            <a href="#about" style="--i:2">About</a>
            <a href="#services" style="--i:2">Services</a>
            <a href="#Skills" style="--i:3">Skils</a>
            <a href="#project" style="--i:4">Projects</a>
            <a href="#contact" style="--i:5">Contact</a>
        </nav>
    </header>
    <section class="home" id="home">
        <img src="../assets/images/profile-photo.jpg" alt="profile-photo">
        <div class="home-content">
            <h3>Hello It's Me</h3>
            <h1>Ardhendu Manna</h1>
            <h3>And I'm a </h3>
            <p class="hero-subtitle"><span class="typed" data-typed-items="Frontend Developer, Backend Developer"></span></p>
            <div class="home-social">
                <a href="https://www.facebook.com/ardhendu.manna.752" style="--i:7"><i class='bx bxl-facebook'></i></a>
                <a href="https://instagram.com/a_r_d_h_e_n_d_u.m_a_n_n_a?igshid=OGQ5ZDc2ODk2ZA==" style="--i:8"><i
                        class='bx bxl-instagram'></i></a>
                <a href="https://www.whatsapp.com" style="--i:9"><i class='bx bxl-whatsapp'></i></a>
                <a href="https://www.linkedin.com/in/ardhendu-manna-407742250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    style="--i:10"><i class='bx bxl-linkedin-square'></i></a>
            </div>
            <a href="#" class="btn-box">More About Me</a>
        </div>
    </section>

    <section class="about" id="about">
        <img src="../assets/images/my pic.jpg" alt="">
        <div class="about-content">
            <h2>About<span>Me</span></h2>
            <h4>Frontend Developer!</h4>
            <p>Embarking on an exciting journey into the world of frontend development from kolkata. As a
                budding enthusiast in this dynamic field, every line of code feels like a step toward turning dreams
                into digital reality.
                As a beginner, I'm on a mission to absorb as much knowledge as possible. From HTML to CSS, and dipping
                my toes into JavaScript, each concept is a new discovery. The learning curve is both challenging and
                exhilarating, and I'm embracing it with open arms.
            </p>
            <a href="#" class="btn-box">More About Me</a>
        </div>
    </section>

    <section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Services</span></h1>
                <div class="services-list">
                    <div>
                        <i></i>
                        <h2>Frontend Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt impedit reprehenderit natus
                            architecto voluptate similique cumque error, hic quasi! Sapiente quam quos labore incidunt
                            exercitationem? Quos ratione repellat omnis ullam neque. Commodi necessitatibus repellat
                            dolores.</p>
                        <a href="#" class="read">lern more</a>
                    </div>
                    <div>
                        <i></i>
                        <h2>Backend Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt impedit reprehenderit natus
                            architecto voluptate similique cumque error, hic quasi! Sapiente quam quos labore incidunt
                            exercitationem? Quos ratione repellat omnis ullam neque. Commodi necessitatibus repellat
                            dolores.</p>
                        <a href="#" class="read">lern more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class="sub-title">My<span>Skills</span></h1>
    <section>
        <div class="container1" id="Skills">
            <h1 class="heading1">Technical Skills</h1>
            <div class="Technical-bars">
                <div class="bar"><i style="color: orange;" class='bx bxl-html5'></i>
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="progress-line html">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: rgb(37, 133, 211);" class='bx bxl-css3'></i>
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="progress-line css">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: rgb(251, 255, 0);" class='bx bxl-javascript'></i>
                    <div class="info">
                        <span>JavaScript</span>
                    </div>
                    <div class="progress-line javascript">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: rgb(255, 38, 0);" class='bx bxl-angular'></i>
                    <div class="info">
                        <span>Angular</span>
                    </div>
                    <div class="progress-line angular">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: rgb(255, 0, 212);" class='bx bxl-python'></i>
                    <div class="info">
                        <span>Python</span>
                    </div>
                    <div class="progress-line python">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container1">
            <h1 class="heading1">Professional Skills</h1>
            <div class="radial-bars">

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">90%</div>
                    <div class="text">creativity</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">60%</div>
                    <div class="text">communication</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">80%</div>
                    <div class="text">Problem Solving</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">85%</div>
                    <div class="text">TeamWork</div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="portfolio" id="project">
            <div class="main-text" id="project">
                <h2>Latest <span>Projects</span></h2>

                <div class="portfolio-content">
                    <div class="row">
                        <img src="../assets/images/e cart.png" alt="E-cart">
                        <div class="layer">
                            <h5>e-commerce website</h5>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, magnam nihil! Provident et, atque unde veniam voluptas rem magni inventore.</p>
                        </div>
                    </div>

                    <div class="row">
                        <img src="../assets/images/portfolio.png" alt="Portfolio">
                        <div class="layer">
                            <h5>Portfolio</h5>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, magnam nihil! Provident et, atque unde veniam voluptas rem magni inventore.</p>
                        </div>
                    </div>

                    <div class="row">
                        <img src="../assets/images/Calculator.png" alt="Calculator App">
                        <div class="layer">
                            <h5>Calculator</h5>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, magnam nihil! Provident et, atque unde veniam voluptas rem magni inventore.</p>
                        </div>
                    </div>

                    <div class="row">
                        <img src="../assets/images/weather.png" alt="Weather App">
                        <div class="layer">
                            <h5>Weather App</h5>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, magnam nihil! Provident et, atque unde veniam voluptas rem magni inventore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="contact-text">
            <h2>Contact <span>Me</span></h2>
            <h4>Let's Work Together</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam vel repudiandae culpa harum distinctio iusto praesentium voluptatum. Commodi, magnam et?</p>
            <div class="contact-list">
                <li><i class='bx bxl-gmail'></i> papaimanna127&#64;gmail.com</li>
                <li><i class='bx bxs-phone'></i> 9144799654</li>
            </div>
            <div class="contact-icons">
                <a href="https://www.facebook.com/ardhendu.manna.752"><i class='bx bxl-facebook-circle'></i></a>
                <a href="https://instagram.com/a_r_d_h_e_n_d_u.m_a_n_n_a?igshid=OGQ5ZDc2ODk2ZA=="><i class='bx bxl-instagram'></i></a>
                <a href="https://www.linkedin.com/in/ardhendu-manna-407742250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class='bx bxl-linkedin'></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
        <div class="contact-form">
            <form action="">
                <input type="" placeholder="Enter Your Name" required>
                <input type="email" placeholder="Enter Your Email" required>

                <input type="text" placeholder="Enter your Subject">
                <textarea name="" id="" col="40" rows="10" placeholder="Enter Your Message"></textarea>
                <input type="submit" value="Submit" class="send">
            </form>
        </div>



    </section>

</div>